[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/DGtal"]
	path = deps/DGtal
	url = https://github.com/DGtal-team/DGtal.git
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl.git
